<!DOCTYPE html>


<head>
    <meta charset="utf8">
    <title>Future Vision Transport</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>


<body>
    
    <header>
        <!-- <img id="logo" src="https://user.oc-static.com/upload/2019/10/24/15719060749143_image2.png"> -->
        <div class="p-5 text-center bg-dark fixed-top">
            <h1 class="mb-3 text-center ">Future Vision Transport</h1>
        </div>
        
    </header>
    <div class="container">
        
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="card mt-2 mx-auto p-4 bg-dark">
                    <div class="card-body bg-dark">
                        <div class="container">
                            <div class="upload col-md-8 mx-auto" id="uploader">
                                <input type="file" title="" class="drop-here">
                                <div class="text text-drop">Déposez ici</div>
                                <div class="text text-upload">uploading</div>
                                <svg class="progress-wrapper" width="300" height="300">
                                    <circle class="progress" r="115" cx="150" cy="150"></circle>
                                </svg>
                                <svg class="check-wrapper" width="130" height="130">
                                    <polyline class="check" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                                </svg>
                                <div class="shadow"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </br>
    
    
    <div id="detected_content" class="card mt-2 mx-auto p-4 bg-dark" onClick="window.location.reload();" style="display:none;">
        <div class="col-md-12">
            <div class="card mb-3" align="center">
                <div class="card-header">Résultat de l'analyse :</div>
                <div class="card-body">
                    <div id="result" class="col-md-8 mx-auto" onClick="window.location.reload();"></div>
                </div>
            </div>
            <div class="card mb-3" align="center">
                <div class="card-header">Objets détectés :</div>
                <div class="card-body">
                    <p class="card-text" id="detected_objects">
                        <ul id="object_list">
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <input style="visibility: collapse; width: 0px;" type="file" onchange="upload(this.files[0])">
</div>

<script>
    var api_url = "/api/"
    
    // juste pour le style
    var fileUpload = document.querySelector(".upload")
    
    fileUpload.addEventListener("dragover", function() {
        this.classList.add("drag")
        this.classList.remove("drop", "done")
    });
    
    fileUpload.addEventListener("dragleave", function() {
        this.classList.remove("drag")
    });
    
    fileUpload.addEventListener("drop", start, false)
    fileUpload.addEventListener("change", start, false)
    
    function start() { 
        this.classList.remove("drag")
        this.classList.add("drop")
        setTimeout(() => this.classList.add("done"), 300)
    }
    // \juste pour le style
    
    window.ondragover = function(e) {
        e.preventDefault()
    }
    window.ondrop = function(e) {
        e.preventDefault()
        upload(e.dataTransfer.files[0])
    }
    
    function getWordsBetweenQuotes(str) {
        return str.match(/\w+|"[^"]+"/g)
    }
    
    function upload(file) {
        
        /* le fichier est-il une image? */
        if (!file || !file.type.match(/image.*/)) return
        
        var fd = new FormData()
        fd.append("file", file) // ajoute le fichier
        
        var xhr = new XMLHttpRequest(); // Crée le XHR (Cross-Domain XHR)
        xhr.open("POST", api_url)
        
        xhr.onreadystatechange = function() {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                console.log(xhr.responseText)
                res = JSON.parse(xhr.responseText)
                // ajoute l'image reçue
                var img = document.createElement("img")
                img.src = "data:image/png;base64,"+res.encoded_img
                img.alt = "resultat"
                var elmnt = document.getElementById("result")
                elmnt.appendChild(img)
                document.getElementById("uploader").style.display = "none"
                document.getElementById("detected_content").style.display = "block"
                var object_list = getWordsBetweenQuotes(res.detected_objects)
                var ul = document.getElementById("object_list")
                for(var i=0; i<object_list.length; i++){
                    var li = document.createElement("li")
                    li.appendChild(document.createTextNode(object_list[i]))
                    ul.appendChild(li)
                }
            }
        }
        xhr.send(fd);
    }
</script>


</body>


